### Ignore All Directories
/**/

# Except for packages, excluding *.cat and *.ppkg
!packages/
!packages/**/*
packages/**/*.cat
packages/**/*.ppkg

# Except for software/general/OneDriveSetup.exe
!software/
!software/general/
software/general/*
!software/general/OneDriveSetup.exe

# Except for uwp
!uwp/
!uwp/**/*