### Ignore All Directories
/**/

# Except for assets
!assets/
!assets/**/*

# Except for docs directory
!docs/
!docs/**/*

# Except for packages, excluding *.cat and *.ppkg
!packages/
!packages/**/*
packages/**/*.cat
packages/**/*.ppkg

# Except for scripts directory, excluding *.cab
!scripts/
!scripts/**/*
scripts/**/*.cab

# Except for .github directory
!.github/
!.github/**/*
