### Ignore All Directories
/**/

# Except for packages, excluding *.cat and *.ppkg
!packages/
!packages/**/*
packages/**/*.cat
packages/**/*.ppkg

# Except for OneDriveSetup.exe
!software/
!software/general/
software/general/*
!software/general/OneDriveSetup*.exe

# Except for Intel Blutooth or WiFi
!software/intel/
software/intel/*
!software/intel/BT*.exe
!software/intel/WiFi*.exe

# Except for UWP directory
!uwp/
!uwp/**/*